body {
    background: url(/images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div#creditsbox {
    width: 510px;
    background: #F2E6E6;
    top: 10vh;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
}

h1 {
    text-decoration: underline;
}

@media only screen and (max-width: 481px) {
    div#creditsbox {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
        left: -82px;
    }
    
}

@media only screen and (max-height: 481px) {
    div#creditsbox {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
        top: 20px;
    }
    body {
        height: 300px;   
    }
}