html {
    height: 100%;
    width: 100%;
    display: table;
}

body {
    display: table-cell;
    min-height: 100%;
    background: url(/images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    vertical-align: middle;
}

div#container {
    width: 1175px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
}

div#mobileContainer {
   width: 250px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 1);
    color: white;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    display: none;
}

button.buttons {
	margin-top: 10px;
	margin-left: 5px;
    font-size: 35px;
    background: #dd0000;
    color: #ff8080;
    border-radius: 20px;
    width: 23%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.6);
}

button.buttons:focus {
	outline: 0;
}

button.buttons:hover {
    background: #ff3338;
}

.titles {
	margin-left: 300px;
	font-size: 35px;
	text-align: center;
	background: #dd0000;
	color: #ff8080;
	border-radius: 15px;
	width: 50%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.8);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 18%;
    font-family: 'Courgette', cursive;
    margin-left: 10px;
    color: azure;
}

a#credits {
    color: azure;
}

div#navbar-slide {
    position: fixed;
    top: 40px;
    left: -340px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

div#navbar-slide-inner {
    position: fixed;
    top: 40px;
    left: -350px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

div#navbar-slide:hover {
    left: 0px;
}

div#navbar-slide:hover.navbarPc div#navbar-slide-inner.navbarPc {
    top: 70px;
    left: 7px;
    font-family: 'Courgette', cursive;
	font-size: 15px;
}

h2#megsquad {
    text-decoration: underline;
	font-size: 25px;
}

a.backlink {
    color: #dd0000;
}

a#backlink-bottom {
	margin-left: 1100px;
}

@media only screen and (max-width: 599px) {
    /* Portrait mode*/
    body {
        overflow: scroll;
    }
    
    div#container {
		display: none;
    }
    
    div#mobileContainer {
        display: block;
    }

	footer {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        width: 100%;
    }
	div#navbar-slide {
        top: -60px;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    div#navbar-slide:hover {
        left: -114px;
    }
    div#navbar-slide-inner.navbarPc {
        top: 20px !important;
    }
}
@media only screen and (max-height: 599px) {
    /* Landscape mode */
    body {
        overflow: scroll;
    }

    div#container {
		display: none;
    }

    div#mobileContainer {
        margin-top: 0px;
        display: block;
    }

	footer {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        width: 100%;
        text-align: center;
    }
    div#navbar-slide {
        top: -95px;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    div#navbar-slide:hover {
        left: -114px;
    }
    div#navbar-slide-inner.navbarPc {
        top: 20px !important;
    }
}