body {
    background: url(/images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

div#container {
    width: 500px;
    height: auto;
    background: #F2E6E6;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
}

h1#header {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Courgette', cursive;
    margin-left: 10px;
    color: azure;
}

a#credits {
    color: azure;
}

@media only screen and (max-width: 481px) {
    div#container {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        left: -80px;
        top: -120px;
    }
    footer {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        bottom: -15px;
    }
    body {
        height: 620px;
    }
    a.backlink {
        margin-left: 8px;
        display: inline-block;
        -webkit-transform: scale(1.8);
        transform: scale(1.8);   
    }
}

@media only screen and (max-height: 481px) {
    div#container {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        top: -120px;
    }
    footer {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        bottom: -15px;
        text-align: center;
    }
    body {
        height: 620px;   
    }
    a.backlink {
        margin-left: 8px;
        display: inline-block;
        -webkit-transform: scale(1.8);
        transform: scale(1.8);   
    }
}