body {
    background: url(/images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div#container {
    width: 500px;
    height: auto;
    background: #F2E6E6;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
}

h1#header {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Courgette', cursive;
    margin-left: 10px;
    color: azure;
}

a#credits {
    color: azure;
}

@media only screen and (max-width: 481px) {
    div#container {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
        left: -80px;
        top: -120px;
    }
    footer {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
        bottom: -15px;
    }
    body {
        height: 620px;
    }
}

@media only screen and (max-height: 481px) {
    div#container {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
        top: -120px;
    }
    footer {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
        bottom: -15px;
        text-align: center;
    }
    body {
        height: 620px;   
    }
}