#container {
	width: 1175px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.5);
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
}

#panel {
	display: flex;
}

#upload, #delete, #rename {
	width: 33%;
	text-align: center;
	display: block;
}

#upload-res, #delete-res, #rename-res {
	display: none;
	font-size: 16px;
	color: red;
}

#logout {
	float: right;
}

form {
	display: inline-block;
	padding: 5px;
}

form input, form select, form label {
	display: block;
	margin-top: 5px;
	width: 185px;
	box-sizing: border-box;
}

form input[type="file"] {
	background-color: rgba(255, 255, 255, 0.5);
}

#delete-confirmation label {
	background-color: rgba(255, 255, 255, 0.5);
	margin-right: 10px;
}

#delete-confirmation input[type="checkbox"] {
	vertical-align: bottom;
}

form input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}

.titles {
	margin: 20px auto 10px auto;
	text-align: center;
	background-color: #dd0000;
	color: #ff8080;
	border-radius: 15px;
	width: 55%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.8);
}


@media only screen and (max-width: 1150px) {
	#container {
		width: 90%;
	}

	#panel {
		display: block;
	}

	#upload, #delete, #rename {
		text-align: center;
		display: block;
		margin-left: 5%;
		width: 90%;
	}

	footer {
		width: 95%;
	}
}

@media only screen and (max-width: 360px) {
	/* Portrait mode */
	#container {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		left: -80px;
		top: -500px;
	}

	body {
		height: 620px;
	}

	.backlink {
		position: relative;
		margin-left: 400px;
		display: inline-block;
		-webkit-transform: scale(1.5);
		transform: scale(1.5);   
	}

	footer {
		width: auto;
	}
}

@media only screen and (max-height: 360px) {
	/* Landscape mode */
	#container {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		top: -500px;
	}

	body {
		height: 620px;   
	}

	.backlink {
		position: relative;
		margin-left: 400px;
		display: inline-block;
		-webkit-transform: scale(1.5);
		transform: scale(1.5);   
	}
}