label[for="bg-select"], select[id="bg-select"] {
	display: inline;
	width: initial;
	/*
		You may think the width attribute will be ignored,
		as pointed out by VSCode, but it will not actually be.
		Don't remove it cuz things will break otherwise, kthx.
	*/
}

.panel {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0 15px 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: var(--seperator-color);
}

.response {
	display: none;
	text-align: center;
	font-size: 20px;
	color: var(--title-text);
	width: 100%;
}

#container {
	width: 1175px;
	background-color: var(--rgba-background);
}

#container form input[type="file"] {
	background-color: rgba(255, 255, 255, 0.5);
}

#container form input, #container form select, #container form label {
	display: block;
	margin-top: 5px;
	width: 185px;
	box-sizing: border-box;
}

#container form {
	display: inline-block;
	padding: 5px;
}

#container form input[type="checkbox"] {
	display: inline-block;
	vertical-align: bottom;
	width: 16px;
	height: 16px;
}

#container > :nth-last-child(2) {
	border-style: none;
}

#backlink-top {
	display: inline-block;
}

#logout {
	float: right;
}

.panel .sub-panel {
	width: 33%;
	text-align: center;
	display: block;
}

.panel .sub-panel button {
	margin-top: 10px;
}

.panel .sub-panel p {
	display: block;
	margin-top: 5px;
	margin-bottom: 0px;
	color: white; /* TODO: Needs prettification */
}

.panel .sub-panel label {
	background-color: rgba(255, 255, 255, 0.5);
	margin-right: 10px;
}

@media only screen and (max-width: 960px) {
	#container {
		width: 700px;
	}
}

@media only screen and (max-width: 720px) {
	#container {
		width: 600px;
	}

	.sub-panel {
		width: 34%;
	}
}

@media only screen and (max-width: 490px) {
	.panel {
		display: block;
	}

	#container {
		width: 400px;
	}

	.sub-panel {
		text-align: center;
		display: block;
		margin-left: 5%;
		width: 90%;
	}
}

@media only screen and (max-width: 360px) {
	.titles {
		width: auto;
	}

	#container {
		width: 300px;
	}
}