h1 {
	text-decoration: underline;
}

li {
	margin-top: 10px;
}

#container {
	width: 700px;
	background-color: #ffebee;
}

@media only screen and (max-width: 1366px) {
	footer {
		bottom: -30px;
	}
}

@media only screen and (max-width: 960px) {
	footer {
		bottom: -50px;
	}

	#container {
		max-width: 500px;
	}
}

@media only screen and (max-width: 720px) {
	#container {
		max-width: 400px;
	}
}

@media only screen and (max-width: 490px) {
	#container {
		max-width: 300px;
	}
}

@media only screen and (max-width: 360px) {
	footer {
		bottom: -70px;
	}

	#container {
		max-width: 200px;
	}
}