body {
	vertical-align: baseline;
}

h1 {
	text-decoration: underline;
}

li {
	margin: 10px;
}

#creditsbox {
	width: 700px;
	background: #F2E6E6;
	margin: 10vh auto;
	padding: 16px;
	box-sizing: border-box;
	position: relative;
	border-radius: 20px;
}

@media only screen and (max-width: 360px) {
	/* Portrait mode */
	body {
		overflow: scroll;
	}

	#creditsbox {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		margin-left: -82px;
		font-size: 20px;
		margin-top: -50px;
	}

	.backlink {
		position: relative;
		margin-left: 430px;
		display: inline-block;
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}

	footer {
		width: auto;
	}
}

@media only screen and (max-height: 360px) {
	/* Landscape mode */
	#creditsbox {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		margin-top: 20px;
	}

	body {
		height: 300px;
	}

	.backlink {
		position: relative;
		margin-left: 430px;
		display: inline-block;
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
}