h1 {
	text-decoration: underline;
}

li {
	margin-top: 10px;
}

#container {
	width: 700px;
	background-color: #F2E6E6;
}

@media only screen and (max-width: 960px) {
	#container {
		max-width: 500px;
	}
}

@media only screen and (max-width: 720px) {
	#container {
		max-width: 400px;
	}
}

@media only screen and (max-width: 490px) {
	#container {
		max-width: 300px;
	}
}

@media only screen and (max-width: 360px) {
	#container {
		max-width: 200px;
	}
}