body {
	background-image: url(/images/backgrounds/error_bg.jpg);
}

p {
	text-align: center;
	color: white;
}

p > a {
	color: white;
}

.big-red {
	margin: 0;
	color: #a50000;
	font-size: 72px;
	text-align: center;
}

#box {
	width: 600px;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 960px) {
	#box {
		max-width: 600px;
	}
}

@media only screen and (max-width: 720px) {
	#box {
		max-width: 500px;
	}
}

@media only screen and (max-width: 490px) {
	#box {
		max-width: 400px;
	}
}

@media only screen and (max-width: 360px) {
	#box {
		max-width: 320px;
	}
}