body {
	background-image: url(/images/error_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#box {
	width: 500px;
	background: rgba(0, 0, 0, 0.7);
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
}

p {
	text-align: center;
	color: white;
}

p > a {
	color: white;
}

.big-red {
	margin: 0;
	color: #a50000;
	font-size: 72px;
	text-align: center;
}

@media only screen and (max-width: 481px) {
	/* Portrait mode */
	#box {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}

@media only screen and (max-height: 481px) {
	/* Landscape mode */
	#box {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}