body {
	background-image: url(/images/backgrounds/error_bg.jpg);
}

h1, p {
	margin: 0;
}

p, a {
	text-align: center;
	color: azure;
	display: block;
}

a {
	margin-top: 30px;
}

.big-red {
	color: #dd0000;
	font-size: 72px;
	text-align: center;
}

#container {
	width: 600px;
	background-color: rgba(0, 0, 0, 0.7);
}

#contact {
	margin-top: 20px;
}

#contact a {
	margin-top: 0;
	display: inline-block;
}

@media only screen and (max-width: 960px) {
	#container {
		max-width: 600px;
	}
}

@media only screen and (max-width: 720px) {
	#container {
		max-width: 500px;
	}
}

@media only screen and (max-width: 490px) {
	#container {
		max-width: 400px;
	}
}

@media only screen and (max-width: 360px) {
	#container {
		max-width: 320px;
	}
}