button {
	font-size: 65px;
	width: 100%;
	margin: 10px 0;
}

a[href="/versions"], a[href="/soundboard"], a[href="/statistics"] {
	color: var(--main-text);
}

a[href="/soundboard"], a[href="/statistics"] {
	margin-left : auto;
	margin-right: auto;
}

#container {
	width: 410px;
	background-color: var(--rgba-background);
	margin: 225px auto auto auto;
}

#counter {
	position: relative;
	text-align: center;
	font-size: 50px;
	color: var(--main-text);
	margin: auto;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

#versions-social-anchors, #soundboard-statistics-anchors {
	display: flex;
}

#versions-social-anchors {
	margin-top: 5px;
	margin-bottom: 20px;
}

#share-buttons-frame {
	display: inherit;
	margin-left: auto;
	vertical-align: middle;
}

#share-buttons-frame a {
	height: 24px;
	width: 24px;
	text-decoration: none;
	margin-left: 10px;
}

#notice {
	margin-top: 15px;
	font-size: 20px;
	text-align: center;
	border-top-style: solid;
	border-top-width: 1px;
	border-color: var(--seperator-color);
}

#notice p, #notice a {
	color: var(--title-text);
	margin: 0;
}

@media only screen and (max-width: 360px) {
	#container {
		width: 340px;
	}

	#counter {
		font-size: 40px;
	}
}