@import url("./style_template.css");

body {
	overflow: hidden;
}

div#box {
    width: 300px;
    background: rgba(0, 0, 0, 0.5);
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
	margin: 225px auto auto auto;
}

div#counter {
    position: relative;
    text-align: center;
    top: -10px;
    font-size: 50px;
    color: #dd0000;
    margin: auto;
}

button#button {
    font-size: 70px;
    background: #dd0000;
    color: #ff8080;
    border-radius: 20px;
    width: 100%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.6);
}

button#button:focus {
	outline:0;
}

button#button:hover {
    background: #ff3338;
}

a#version {
    color: #dd0000;
    font-family: cursive;
    vertical-align: baseline;
    margin-top: 5px;
}

span#share-buttons-frame {
    position: absolute;
    margin-left: 120px;
    margin-top: 6px;
}

div#counter {
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);	
}

a#soundboard, a#statistics {
	color: #dd0000;
    font-family: cursive;
    vertical-align: baseline;
}

a#statistics {
	margin-left: 45px;
}

a#soundboard {
	margin-left: 30px;
}

@media only screen and (max-width: 360px) {
    /* Portrait mode */
    div#box {
        margin-top: 80px;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    span.share-buttons-frame {
        position: absolute;
        margin-left: 23px;
        margin-top: 120px;
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
    }
    span.share-buttons {
        margin-left: 10px;   
    }
    a#version.mobile-scale {
        display: inline-block;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);   
    }
}

@media only screen and (max-height: 360px) {
    /* Landscape mode */    
    div#box {
        margin-top: 50px;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    span.share-buttons-frame {
        position: absolute;
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        margin-left: 23px;
        margin-top: 120px;
    }
    span.share-buttons {
        margin-left: 10px;   
    }
    a#version.mobile-scale {
        display: inline-block;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}