body {
	overflow: hidden;
}

.share-buttons img {
	height: 24px;
	width: 24px;
}

#box {
	width: 360px;
	background: rgba(0, 0, 0, 0.5);
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
	margin: 225px auto auto auto;
}

#counter {
	position: relative;
	text-align: center;
	top: -10px;
	font-size: 50px;
	color: #dd0000;
	margin: auto;
}

#button {
	font-size: 65px;
	background: #ab0000;
	color: #ff8080;
	border-radius: 20px;
	width: 100%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.6);
}

#button:focus {
	outline: 0;
}

#button:hover {
	background: #ff3338;
}

#box > div {
	margin-top: 5px;
	margin-bottom: 10px;
}

#version {
	color: #dd0000;
	display: inline-block;
}

#share-buttons-frame {
	display: inline-block;
	vertical-align: middle;
	margin-left: 185px;
}

.share-buttons > a {
	text-decoration: none;
}

#counter {
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

#soundboard, #statistics {
	color: #dd0000;
}

#soundboard {
	margin-left: 50px;
}

#statistics {
	margin-left: 65px;
}

@media only screen and (max-width: 360px) {
	/* Portrait mode */
	#box {
		margin-top: 80px;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	#share-buttons-frame {
		position: absolute;
		margin-left: 23px;
		margin-top: 120px;
		-webkit-transform: scale(2.2);
		transform: scale(2.2);
	}

	.share-buttons {
		margin-left: 10px;
	}

	.mobile-scale {
		display: inline-block;
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
	}
}

@media only screen and (max-height: 360px) {
	/* Landscape mode */
	#box {
		margin-top: 50px;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	#share-buttons-frame {
		position: absolute;
		-webkit-transform: scale(2.2);
		transform: scale(2.2);
		margin-left: 23px;
		margin-top: 120px;
	}

	.share-buttons {
		margin-left: 10px;
	}

	.mobile-scale {
		display: inline-block;
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
	}
}