button {
	font-size: 65px;
	background-color: #ab0000;
	color: #ff8080;
	border-radius: 20px;
	width: 100%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.6);
	margin: 10px 0;
}

button:focus {
	outline: 0;
}

button:hover {
	background-color: #ff3338;
}

a[href="/versions"], a[href="/soundboard"], [href="/statistics"] {
	color: #dd0000;
}

a[href="/versions"] {
	display: inline-block;
}

a[href="/soundboard"] {
	margin-left: 50px;
}

a[href="/statistics"] {
	margin-left: 65px;
}

.share-buttons img {
	height: 24px;
	width: 24px;
}

.share-buttons > a {
	text-decoration: none;
}

#container {
	width: 360px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 225px auto auto auto;
}

#counter {
	position: relative;
	text-align: center;
	font-size: 50px;
	color: #dd0000;
	margin: auto;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

#versions-social-anchors {
	margin-bottom: 20px;
}

#share-buttons-frame {
	display: inline-block;
	vertical-align: middle;
	margin-left: 185px;
}

#survey-frame {
	margin-top: 15px;
	font-size: 20px;
	text-align: center;
	border-top-style: solid;
	border-top-width: 1px;
	border-color: #9c9c9c;
}

#survey-frame p, #survey-frame a {
	color: #ff8080;
	margin: 0;
}

/* Doesn't count while survey is up, but usually: Only 360px needs adjustment, since container is 360px wide */

@media only screen and (max-width: 960px) {
	footer {
		bottom: -35px;
	}
}

@media only screen and (max-width: 360px) {
	a[href="/soundboard"] {
		margin-left: 30px;
	}

	a[href="/statistics"] {
		margin-left: 45px;
	}

	footer {
		bottom: -50px;
	}

	.share-buttons {
		margin-left: 10px;
	}

	#container {
		max-width: 300px;
	}

	#counter {
		font-size: 40px;
	}

	#share-buttons-frame {
		margin-left: 95px;
	}
}