form, #login-res {
	text-align: center;
	display: inline-block;
}

#container {
	width: 320px;
	background-color: rgba(0, 0, 0, 0.5);
}

#backlink-top {
	display: inline-block;
	margin-right: 10px;
}

#login-res {
	display: none;
	font-size: 16px;
	color: #ef9a9a;
}

/* No media queries needed as container is only 320px wide */