#container {
	width: 320px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
}

#backlink-top {
	display: inline-block;
	margin-right: 10px;
}

#login, #login-res {
	text-align: center;
	display: inline-block;
}

#login-res {
	display: none;
	font-size: 16px;
	color: #dd0000;
}

/* No media queries needed as container is only 320px wide */