#container {
	width: 320px;
	background: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
}

#backlink-top {
	display: inline-block;
	margin-right: 10px;
}

#login, #login-res {
	text-align: center;
	display: inline-block;
}

#login-res {
	display: none;
	font-size: 16px;
	color: red;
}

@media only screen and (max-width: 360px) {
	/* Portrait mode */
	body {
		height: 620px;
	}

	footer {
		width: auto;
	}
}

@media only screen and (max-height: 360px) {
	/* Landscape mode */
}