ol {
	padding: 0;
}

.milestones {
	margin: 0;
	font-size: 20px;
	text-align: center;
	padding: 8px 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: var(--seperator-color);
	list-style: none;
}

#container {
	width: 600px;
	background-color: var(--white-background);
}

#container :last-child {
	border-style: none;
}

@media only screen and (max-width: 960px) {
	#container {
		width: 500px;
	}
}

@media only screen and (max-width: 490px) {
	#container {
		width: 300px;
	}
}