.header {
	text-decoration: underline;
	text-align: center;
}

#container {
	width: 600px;
	background-color: #F2E6E6;
	margin: 3vh auto 0 auto;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
}

#container::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#loading, #warning {
	background-color: #dd0000;
	color: #ff8080;
	border-radius: 20px;
	width: 40%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.6);
}

#warning { /* Warning element is created when no sounds are available */
	text-align:center;
	width: 100%;
	background-color:#606060;
	color:#383838;
	box-shadow: initial;
}

#rankings-wrap ol > li {
	margin-top: 10px;
	text-align: center;
}

footer {
	bottom: -50px;
}

@media only screen and (max-width: 960px) {
	#container {
		max-width: 500px;
	}
}

@media only screen and (max-width: 720px) {
	#container {
		max-width: 400px;
	}
}

@media only screen and (max-width: 490px) {
	#container {
		max-width: 300px;
	}
}

@media only screen and (max-width: 360px) {
	footer {
		bottom: -70px;
	}

	#container {
		max-width: 300px;
	}
}