body {
	padding-bottom: 75px;
}

#container {
	width: 660px;
	background: #F2E6E6;
	margin: 3vh auto 0 auto;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
}

#container::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#loading, #warning {
	background: #dd0000;
	color: #ff8080;
	border-radius: 20px;
	width: 40%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.6);
}

#warning {
	text-align:center;
	width: 100%;
	background-color:rgba(96,96,96,1);
	color:rgba(56,56,56,1);
	box-shadow: initial;
}

.header {
	text-decoration: underline;
	text-align: center;
}

#rankings-wrap ol > li {
	margin-top: 10px;
	text-align: center;
}

@media only screen and (max-width: 1150px) {
	#container {
		width: 90%;
		margin: 15vh auto 0 auto;
	}
}