footer {
	bottom: -50px;
}

#container {
	width: 1150px;
	background-color: #ffebee;
}

#container::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#rankings-wrap {
	display: flex;
	justify-content: space-between;
}

#rankings-wrap div {
	width: 24%;
	padding-top: 20px;
	padding-bottom: 20px;
}

#rankings-wrap div:first-child {
	padding-right: 10px;
}

#rankings-wrap div:last-child {
	padding-left: 10px;
}

#rankings-wrap div:not(:first-child):not(:last-child) {
	padding-right: 10px;
	padding-left: 10px;
}

#rankings-wrap div:not(:last-of-type) {
	border-right-style: solid;
	border-right-width: 1px;
	border-color: black;
}

#rankings-wrap div h2 {
	text-align: center;
	width: 75%;
}

#rankings-wrap div ol > li {
	margin-top: 10px;
	text-align: center;
}

@media only screen and (max-width: 1366px) {
	#container {
		width: 900px;
	}
}

@media only screen and (max-width: 960px) {
	#container {
		width: 550px;
	}

	#container #rankings-wrap {
		justify-content: center;
		flex-wrap: wrap;
	}

	#container #rankings-wrap > div {
		width: 47%;
	}

	#container #rankings-wrap > div:not(:nth-last-child(-n+2)) {
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}

	#container #rankings-wrap > div:nth-child(odd) {
		border-right-style: solid;
		border-right-width: 1px;
		border-color: black;
		padding-right: 10px;
		padding-left: 0px;
	}

	#container #rankings-wrap > div:nth-child(even) {
		border-right-style: none;
		padding-right: 0px;
		padding-left: 10px;
	}
}

@media only screen and (max-width: 720px) {
	#container {
		width: 400px;
	}
}

@media only screen and (max-width: 490px) {
	#container {
		width: 300px;
	}

	#container #rankings-wrap > div {
		width: 100%;
		border-right-style: none;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		padding-left: 0;
		padding-right: 0;
	}

	#container #rankings-wrap > div:nth-child(odd) {
		border-right-style: none;
	}
}

@media only screen and (max-width: 360px) {
	footer {
		bottom: -70px;
	}

	#container {
		width: 300px;
	}
}