ol {
	color: #dd0000;
	text-align: center;
	display: block;
	font-size: 30px;
	margin: 0 auto;
	width: 130px;
}

footer {
	bottom: -50px;
}

.source-wrapper {
	margin-top: 25px;
}

.buttons-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
}

.buttons-wrapper button {
	margin-top: 10px;
	font-size: 35px;
	background-color: #dd0000;
	color: #ff8080;
	border-radius: 20px;
	width: 24%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.6);
}

.buttons-wrapper button:focus {
	outline: 0;
}

.buttons-wrapper button:hover {
	background-color: #ff3338;
}

#container {
	width: 1175px;
	background-color: rgba(0, 0, 0, 0.5);
}

#container::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#loading {
	background-color: #dd0000;
	color: #ff8080;
	border-radius: 20px;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.6);
	font-size:48px;
	text-align:center;
}

#warning { /* Warning element is created when no sounds are available */
	font-size: 40px;
	background-color: #606060;
	color: #383838;
}

a[href="/rankings"] {
	color: #dd0000;
	text-align: center;
	display: block;
	font-size: 30px;
	margin: 0 auto;
	width: 130px;
}

@media only screen and (max-width: 960px) {
	.buttons-wrapper button {
		width: 47%;
	}

	#container {
		max-width: 700px;
	}
}

@media only screen and (max-width: 720px) {
	.buttons-wrapper button {
		width: 49%;
	}

	#container {
		max-width: 600px;
	}
}

@media only screen and (max-width: 490px) {
	.buttons-wrapper button {
		width: 100%;
	}

	#container {
		max-width: 400px;
	}
}

@media only screen and (max-width: 360px) {
	.buttons-wrapper button, .titles {
		width: 100%;
	}

	#container {
		max-width: 300px;
	}
}