a[href="/rankings"] {
	color: #d50000;
	text-align: center;
	display: block;
	font-size: 30px;
	margin: 0 auto;
	width: 130px;
}

.source-wrapper {
	margin-top: 25px;
}

.buttons-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
}

.buttons-wrapper button, .playall {
	margin-top: 10px;
	font-size: 35px;
	width: 24%;
}

.playall {
	display: block;
	margin: 10px auto;
	width: 10%;
	font-size: 15px;
}

#container {
	width: 1175px;
	background-color: rgba(0, 0, 0, 0.5);
}

#container::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

@media only screen and (max-width: 1366px) {
	.buttons-wrapper button {
		font-size: 28px;
	}

	.playall {
		font-size: 16px;
	}

	#container {
		width: 1000px;
	}
}

@media only screen and (max-width: 960px) {
	.buttons-wrapper button {
		width: 47%;
	}

	.playall {
		width: 15%;
	}

	#container {
		width: 700px;
	}
}

@media only screen and (max-width: 720px) {
	.buttons-wrapper button {
		width: 49%;
	}

	.playall {
		width: 15%;
	}

	#container {
		width: 600px;
	}
}

@media only screen and (max-width: 490px) {
	.buttons-wrapper button {
		width: 100%;
	}

	.playall {
		width: 20%;
	}

	#container {
		width: 400px;
	}
}

@media only screen and (max-width: 360px) {
	.buttons-wrapper button, .titles {
		width: 100%;
	}

	.playall {
		width: 30%;
	}

	#container {
		width: 300px;
	}
}