#container {
	width: 1175px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
}

#container::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.source-wrapper {
	margin-top: 25px;
}

.titles {
	margin: 0 auto;
	text-align: center;
	background-color: #dd0000;
	color: #ff8080;
	border-radius: 15px;
	width: 50%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.8);
}

.buttons-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
}

.buttons-wrapper button, #loading {
	margin-top: 10px;
	/* margin-left: 5px; */
	font-size: 35px;
	background: #dd0000;
	color: #ff8080;
	border-radius: 20px;
	width: 24%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.6);
}

.buttons-wrapper button:focus {
	outline: 0;
}

.buttons-wrapper button:hover {
	background: #ff3338;
}

#warning {
	font-size: 40px;
	background-color: rgba(96,96,96,1);
	color: rgba(56,56,56,1);
}

#rankings {
	color: #dd0000;
	text-align: center;
	display: block;
	font-size: 30px;
	margin: 0 auto;
	width: 130px;
}

@media only screen and (max-width: 1150px) {
	#container {
		width: 90%;
	}

	.buttons-wrapper button {
		width: 32%;
	}
}

@media only screen and (max-width: 950px) {
	.buttons-wrapper button {
		width: 49%;
	}
}

@media only screen and (max-width: 650px) {
	.buttons-wrapper button,
	.titles {
		width: 100%;
	}
}