body {
	vertical-align: baseline;
}

canvas {
	padding: 0;
}

.statistics {
	margin: 0;
	font-size: 25px;
	text-align: center;
	padding: 8px 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #9c9c9c;
}

#container {
	width: 600px;
	background-color: #F2E6E6;
}

#container :nth-last-child(2) {
	border-style: none;
}

#chart-wrapper {
	width: 568px;
	height: 285px;
}

@media only screen and (max-width: 960px) {
	#container {
		max-width: 500px;
	}

	#chart-wrapper {
		max-width: 500px;
		width: auto;
		height: auto;
	}
}

@media only screen and (max-width: 720px) {
	#container {
		max-width: 400px;
	}

	#chart-wrapper {
		max-width: 400px;
		width: auto;
		height: auto;
	}
}

@media only screen and (max-width: 490px) {
	#container {
		max-width: 300px;
	}

	#chart-wrapper {
		max-width: 300px;
		width: auto;
		height: auto;
	}
}

@media only screen and (max-width: 360px) {
	footer {
		bottom: -50px;
	}

	#container {
		max-width: 220px;
	}

	#chart-wrapper {
		max-width: 220px;
		width: auto;
		height: auto;
	}
}