body {
	vertical-align: baseline;
}

#box {
	width: 600px;
	background: #F2E6E6;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
	margin: 50px auto;
}

#header {
	text-decoration: underline;
	text-align: center;
}

.statistics {
	font-size: 25px;
	text-align: center;
	padding: 8px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #9c9c9c;
}

#box :nth-last-child(2).statistics {
	border-style: none;
}

#monthly-chart {
	width: 552px;
	height: 283px;
}

@media only screen and (max-width: 360px) {
	/* Portrait mode */
	#box {
		width: auto;
		margin-top: 0px;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}

@media only screen and (max-height: 360px) {
	/* Landscape mode */
	#box {
		width: auto;
		margin-top: 0px;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}