:root {
	--white-background: #ffebee;
	--rgba-background: rgba(0, 0, 0, 0.5);
	--main-text: #d50000;
	--title-text: #ef9a9a;
	--seperator-color: #9c9c9c;
	--warning-text: #383838;
}

html {
	height: 100%;
	width: 100%;
	display: table;
}

body {
	display: table-cell;
	min-height: 100%;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-color: #23272a;
	vertical-align: middle;
	position: relative;
	font-family: "Open Sans", sans-serif;
	transition: background-position 0.25s ease-in-out
}

/* This ::after block is for pushing the footer below the content, don't remove pls */
body::after {
	content: '';
	display: block;
	height: 50px;
}

button, .playall {
	background-color: #b71c1c;
	color: var(--title-text);
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 10px 30px rgba(0,0,0,.1), 0 1px 8px rgba(0,0,0,.2);
}

button:focus, .playall:focus {
	outline: 0;
}

button::-moz-focus-inner, .playall::-moz-focus-inner {
	border: 0;
}

button:hover, .playall:hover {
	background-color: var(--main-text);
	transform: translate3d(0, -3px, 0);
}

form p {
	text-align: center;
}

img {
	backface-visibility: hidden;
	transform: translateZ(0);
}

footer {
	position: absolute;
	bottom: 0;
	font-family: "Courgette", cursive;
	margin-left: 10px;
	width: calc(100% - 10px); /* Avoid x-overflow due to margin */
	height: 50px;
}

footer p, footer a {
	color: var(--white-background);
	width: 380px;
}

.bg1 {
	background-image: url('/images/backgrounds/bg1.jpg');
}

.bg2 {
	background-image: url('/images/backgrounds/bg2.jpg');
}

.bg3 {
	background-image: url('/images/backgrounds/bg3.jpg');
}

.bg4 {
	background-image: url('/images/backgrounds/bg4.jpg');
}

.bg5 {
	background-image: url('/images/backgrounds/bg5.jpg');
}

.bg6 {
	background-image: url('/images/backgrounds/bg6.jpg');
}

.bg7 {
	background-image: url('/images/backgrounds/bg7.jpg');
}

.bg8 {
	background-image: url('/images/backgrounds/bg8.jpg');
}

.bg9 {
	background-image: url('/images/backgrounds/bg9.jpg');
}

.bg10 {
	background-image: url('/images/backgrounds/bg10.jpg');
}

.bg1_easter1 {
	background-image: url('/images/backgrounds/bg1_easter1.jpg');
}

.bg1_easter2 {
	background-image: url('/images/backgrounds/bg1_easter2.jpg');
}

.bg1_usa_independence {
	background-image: url('/images/backgrounds/bg1_usa_independence.jpg');
}

.bg1_german_unity {
	background-image: url('/images/backgrounds/bg1_german_unity.jpg');
}

.bg1_halloween1 {
	background-image: url('/images/backgrounds/bg1_halloween1.jpg');
}

.bg1_halloween2 {
	background-image: url('/images/backgrounds/bg1_halloween2.jpg');
}

.bg1_birthday {
	background-image: url('/images/backgrounds/bg1_birthday.jpg');
}

.bg1_christmas {
	background-image: url('/images/backgrounds/bg1_christmas.jpg');
}

.bg1_newyearseve {
	background-image: url('/images/backgrounds/bg1_newyearseve.jpg');
}

.aqua_true_goddess {
	background-image: url('/images/backgrounds/aqua_true_goddess.jpg')
}

.darkness_chivalrous_crusader {
	background-image: url('/images/backgrounds/darkness_chivalrous_crusader.jpg')
}

.kazuma_equality_advocate {
	background-image: url('/images/backgrounds/kazuma_equality_advocate.jpg')
}

.bg4 footer p,
.bg9 footer p,
.bg10 footer p,
.bg1_halloween1 footer p,
.bg1_halloween2 footer p,
.bg1_birthday footer p,
.bg1_christmas footer p,
.bg1_usa_independence footer p,
.darkness_chivalrous_crusader footer p,
.kazuma_equality_advocate footer p {
	background-color: var(--rgba-background);
}

.titles {
	margin: 0 auto;
	text-align: center;
	color: var(--title-text);
	border-bottom: solid;
	border-radius: 25px;
	width: 60%;
}

.backlink-anchor {
	color: var(--main-text);
}

#megu-sidebar {
	background-color: #a09a9a;
	position: fixed;
	top: 80px;
	left: -347px;
	min-width: 330px;
	min-height: 390px;
	font-family: "Courgette", cursive;
	transition-duration: 0.3s;
	border: 4px solid #f9ca65;
	border-radius: 3px;
	z-index: 100;
}

#megu-sidebar:hover {
	left: 0;
}

#sidebar-vector {
	position: absolute;
	right: -244px;
	top: -42px;
	height: 410px;
	width: 272px;
}

#sidebar-content {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 316px;
	max-height: 390px;
	padding: 0.25em 0.75em 0.75em;
	font-size: 15px;
	overflow-y: auto;
	z-index: 150;
}

#sidebar-content h1,
#sidebar-content h2 {
	margin: 0;
}

#sidebar-content h1 {
	font-size: 1.5rem;
	margin-bottom: 15px;
	text-decoration: underline;
}

#sidebar-content h2 {
	font-weight: 400;
	font-size: inherit;
}

#sidebar-content ul {
	margin: 0;
	padding: 0;
}

#sidebar-content ul li {
	list-style-type: none;
	margin: 15px 0;
}

#sidebar-content ul li::before {
	content: "->";
}

#sidebar-content hr {
	width: 100%;
}

#sidebar-content p {
	margin: 10px 0 0;
}

#sidebar-content > p {
	margin: initial;
}

#container {
	box-sizing: border-box;
	border-radius: 20px;
	padding: 16px;
	margin: 3vh auto 0 auto;
	height: auto;
}

#loading, #warning {
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}

#loading {
	font-size: 48px;
	color: var(--main-text);
}

#warning { /* Created on various pages when no data is available */
	color: var(--warning-text);
}

#notification-wrapper {
	position: fixed;
	top: 10%;
	left: 0;
	right: 0;
	text-align: center;
	display: none;
}

/* todo: make it not look like shit */
#notification {
	display: inline-block;
	text-align: left;
	background-color: var(--main-text);
	color: var(--title-text);
	font-size: 30px;
	max-width: 1400px;
	word-wrap: break-word;
	padding: 5px;
	border-radius: 10px;
}

#header {
	text-decoration: underline;
	text-align: center;
}

#crazymode-toggle {
	vertical-align: middle;
}

#crazymode-warning {
	font-style: italic;
	color: var(--main-text);
}

#backlink-bottom {
	text-align: right;
	margin-top: 10px;
}

@media only screen and (max-width: 1366px) {
	.bg1_easter2 footer p {
		background-color: var(--rgba-background);
	}

	#megu-sidebar {
		min-width: 280px;
		left: -288px;
	}

	#sidebar-vector {
		right: -228px;
		top: -39px;
		height: 380px;
		width: 257px;
	}

	#sidebar-content {
		max-width: 260px;
		font-size: 12px;
	}

	#sidebar-content h1 {
		font-size: 1.1rem;
	}
}

@media only screen and (max-width: 960px) {
	.bg4 {
		background-position: 0;
	}

	.bg9 {
		background-position: -90px;
	}

	.aqua_true_goddess {
		background-position: -300px;
	}

	.bg3 footer p {
		background-color: var(--rgba-background);
	}
}

@media only screen and (max-width: 720px) {
	footer {
		width: 400px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		left: 0;
		right: 0;
	}

	.bg9 {
		background-position: -215px;
	}

	.aqua_true_goddess {
		background-position: -515px;
	}

	.bg2 footer p,
	.bg3 footer p,
	.bg5 footer p,
	.bg1_german_unity footer p {
		background-color: var(--rgba-background);
	}

	#megu-sidebar {
		min-width: 240px;
		left: -251px;
	}

	#sidebar-vector {
		right: -189px;
		top: -34px;
		height: 320px;
		width: 207px;
	}

	#sidebar-content {
		max-width: 220px;
		font-size: 12px;
	}

	#sidebar-content h1 {
		font-size: 1.1rem;
	}
}

@media only screen and (max-width: 490px) {
	.bg4 {
		background-position: -125px;
	}

	.bg5 {
		background-position: -295px;
	}

	.bg9 {
		background-position: -325px;
	}

	.aqua_true_goddess {
		background-position: -750px;
	}

	.kazuma_equality_advocate {
		background-position: -700px;
	}

	.bg2 footer p,
	.bg3 footer p,
	.bg5 footer p,
	.bg1_german_unity footer p {
		background-color: var(--rgba-background);
	}

	#megu-sidebar {
		min-width: 180px;
		left: -188px;
	}

	#sidebar-vector {
		right: -148px;
		top: -27px;
		height: 250px;
		width: 162px;
	}

	#sidebar-content {
		max-width: 160px;
		font-size: 12px;
	}
}

@media only screen and (max-width: 360px) {
	footer {
		width: 255px;
		height: 65px;
	}

	footer a, footer p {
		width: 255px;
	}

	.bg4 {
		background-position: -200px;
	}

	.bg5 {
		background-position: -350px;
	}

	.bg9 {
		background-position: -425px;
	}

	.aqua_true_goddess {
		background-position: -875px;
	}

	.kazuma_equality_advocate {
		background-position: -760px;
	}

	.bg2 footer p,
	.bg3 footer p,
	.bg1_german_unity footer p {
		background-color: var(--rgba-background);
	}

	#megu-sidebar {
		min-width: 120px;
		left: -128px;
	}

	#sidebar-vector {
		right: -108px;
		top: -21px;
		height: 180px;
		width: 117px;
	}

	#sidebar-content {
		max-width: 100px;
		font-size: 12px;
	}
}