html {
	height: 100%;
	width: 100%;
	display: table;
}

body {
	display: table-cell;
	min-height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-color: #23272a;
	vertical-align: middle;
	position: relative;
	font-family: "Open Sans", sans-serif;
}

img {
	backface-visibility: hidden;
	transform: translateZ(0);
}

footer {
	display: block;
	font-family: "Courgette", cursive;
	margin-left: 10px;
	color: azure;
}

.bg1 {
	background-image: url('/images/backgrounds/bg1.jpg');
}

.bg2 {
	background-image: url('/images/backgrounds/bg2.jpg');
}

.bg3 {
	background-image: url('/images/backgrounds/bg3.jpg');
}

.bg4 {
	background-image: url('/images/backgrounds/bg4.jpg');
}

.bg5 {
	background-image: url('/images/backgrounds/bg5.jpg');
}

.bg6 {
	background-image: url('/images/backgrounds/bg6.jpg');
}

.bg7 {
	background-image: url('/images/backgrounds/bg7.jpg');
}

.bg8 {
	background-image: url('/images/backgrounds/bg8.jpg');
}

.bg1_independence {
	background-image: url('/images/backgrounds/bg1_independence.jpg');
}

.bg1_christmas {
	background-image: url('/images/backgrounds/bg1_christmas.jpg');
}

.bg1_halloween {
	background-image: url('/images/backgrounds/bg1_halloween.jpg');
}

.bg1_easter {
	background-image: url('/images/backgrounds/bg1_easter.jpg');
}

.bg1_birthday {
	background-image: url('/images/backgrounds/bg1_birthday.jpg');
}

.backlink {
	color: #dd0000;
}

.hangumin {
	height: 410px;
	width: 272px;
}

.megu-sidebar {
	background-color: #a09a9a;
	position: fixed;
	top: 80px;
	left: -345px;
	min-width: 330px;
	min-height: 410px;
	font-family: "Courgette", cursive;
	transition-duration: 0.3s;
	border: 4px solid #f9ca65;
	border-radius: 3px;
	z-index: 100;
}

.megu-sidebar:hover {
	left: 0;
}

.megu-sidebar .hangumin {
	position: absolute;
	right: -244px;
	top: -42px;
}

.sidebar-content {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 310px;
	max-height: 410px;
	padding: 0.25em 0.75em 0.75em;
	font-size: 15px;
	overflow-y: auto;
	z-index: 150;
}

.sidebar-content h1,
.sidebar-content h3 {
	margin: 0;
}

.sidebar-content h1 {
	font-size: 1.5rem;
	margin-bottom: 15px;
	text-decoration: underline;
}

.sidebar-content h3 {
	font-weight: 400;
	font-size: inherit;
}

.sidebar-content ul {
	margin: 0;
	padding: 0;
}

.sidebar-content ul li {
	list-style-type: none;
	margin: 15px 0;
}

.sidebar-content ul li::before {
	content: "->";
}

.sidebar-content hr {
	width: 100%;
}

.sidebar-content p {
	margin: 10px 0 0;
}

#notification-wrapper {
	position: fixed;
	top: 10%;
	left: 0;
	right: 0;
	text-align: center;
	display: none;
}

#notification {
	display: inline-block;
	text-align: left;
	background: #dd0000;
	color: #ff8080;
	font-size: 30px;
	max-width: 1400px;
	padding: 5px;
	border-radius: 10px;
}

form#config p {
	text-align: center;
}

#crazymode-toggle {
	vertical-align: middle;
}

#crazymode-warning {
	font-style: italic;
	color: #dd0000;
}

#credits {
	color: azure;
}

#backlink-bottom {
	text-align: right;
}

@media only screen and (max-width: 360px) {
	/* Portrait mode*/
	body {
		overflow: scroll;
	}

	footer {
		position: relative;
		max-width: 320px;
		text-align: center;
	}

	.bg4 {
		background-position: -140px;
	}

	.megu-sidebar {
		transform: scale(0.6);
		left: -275px;
		top: -60px;
	}

	.megu-sidebar:hover {
		left: -68px;
	}

	.sidebar-content {
		max-height: 395px;
	}
}

@media only screen and (max-height: 360px) {
	/* Landscape mode*/
	body {
		overflow: scroll;
	}

	footer {
		position: relative;
		font-size: 16px;
		text-align: center;
	}

	.megu-sidebar {
		transform: scale(0.6);
		left: -275px;
		top: -60px;
	}

	.megu-sidebar:hover {
		left: -68px;
	}

	.sidebar-content {
		max-height: 395px;
	}
}