html {
	height: 100%;
	width: 100%;
	display: table;
}

body {
	display: table-cell;
	min-height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-color: #23272a;
	vertical-align: middle;
	position: relative;
	font-family: "Open Sans", sans-serif;
}

body.bg1_halloween footer p, body.bg1_halloween footer a {
	color: gray; /* TODO: needs changing */
}

body.bg1_independence footer p, body.bg1_independence footer a {
	color: #000000;
}

form p {
	text-align: center;
}

img {
	backface-visibility: hidden;
	transform: translateZ(0);
}

footer {
	position: absolute;
	bottom: 0;
	font-family: "Courgette", cursive;
	margin-left: 10px;
}

footer p, footer a {
	color: azure;
}

.bg1 {
	background-image: url('/images/backgrounds/bg1.jpg');
}

.bg2 {
	background-image: url('/images/backgrounds/bg2.jpg');
}

.bg3 {
	background-image: url('/images/backgrounds/bg3.jpg');
}

.bg4 {
	background-image: url('/images/backgrounds/bg4.jpg');
}

.bg5 {
	background-image: url('/images/backgrounds/bg5.jpg');
}

.bg6 {
	background-image: url('/images/backgrounds/bg6.jpg');
}

.bg7 {
	background-image: url('/images/backgrounds/bg7.jpg');
}

.bg8 {
	background-image: url('/images/backgrounds/bg8.jpg');
}

.bg1_independence {
	background-image: url('/images/backgrounds/bg1_independence.jpg');
}

.bg1_christmas {
	background-image: url('/images/backgrounds/bg1_christmas.jpg');
}

.bg1_halloween {
	background-image: url('/images/backgrounds/bg1_halloween.jpg');
}

.bg1_easter {
	background-image: url('/images/backgrounds/bg1_easter.jpg');
}

.bg1_birthday {
	background-image: url('/images/backgrounds/bg1_birthday.jpg');
}

.titles {
	margin: 0 auto;
	text-align: center;
	background-color: #dd0000;
	color: #ff8080;
	border-radius: 15px;
	width: 55%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.8);
}

.backlink-anchor {
	color: #dd0000;
}

.megu-sidebar {
	background-color: #a09a9a;
	position: fixed;
	top: 80px;
	left: -345px;
	min-width: 330px;
	min-height: 410px;
	font-family: "Courgette", cursive;
	transition-duration: 0.3s;
	border: 4px solid #f9ca65;
	border-radius: 3px;
	z-index: 100;
}

.megu-sidebar:hover {
	left: 0;
}

.hangumin {
	position: absolute;
	right: -244px;
	top: -42px;
	height: 410px;
	width: 272px;
}

.sidebar-content {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 310px;
	max-height: 410px;
	padding: 0.25em 0.75em 0.75em;
	font-size: 15px;
	overflow-y: auto;
	z-index: 150;
}

.sidebar-content h1,
.sidebar-content h3 {
	margin: 0;
}

.sidebar-content h1 {
	font-size: 1.5rem;
	margin-bottom: 15px;
	text-decoration: underline;
}

.sidebar-content h3 {
	font-weight: 400;
	font-size: inherit;
}

.sidebar-content ul {
	margin: 0;
	padding: 0;
}

.sidebar-content ul li {
	list-style-type: none;
	margin: 15px 0;
}

.sidebar-content ul li::before {
	content: "->";
}

.sidebar-content hr {
	width: 100%;
}

.sidebar-content p {
	margin: 10px 0 0;
}

#container {
	box-sizing: border-box;
	border-radius: 20px;
	padding: 16px;
	margin: 3vh auto 0 auto;
	height: auto;
}

#notification-wrapper {
	position: fixed;
	top: 10%;
	left: 0;
	right: 0;
	text-align: center;
	display: none;
}

#notification {
	display: inline-block;
	text-align: left;
	background-color: #dd0000;
	color: #ff8080;
	font-size: 30px;
	max-width: 1400px;
	padding: 5px;
	border-radius: 10px;
}

#header {
	text-decoration: underline;
	text-align: center;
}

#crazymode-toggle {
	vertical-align: middle;
}

#crazymode-warning {
	font-style: italic;
	color: #dd0000;
}

#backlink-bottom {
	text-align: right;
}

@media only screen and (max-width: 960px) {
	/* Nothing yet */
}

@media only screen and (max-width: 720px) {
	.megu-sidebar {
		min-width: 240px;
		left: -251px;
	}

	.hangumin {
		right: -189px;
		top: -34px;
		height: 320px;
		width: 207px;
	}

	.sidebar-content {
		max-width: 220px;
		font-size: 12px;
	}

	.sidebar-content h1 {
		font-size: 1.1rem;
	}
}

@media only screen and (max-width: 490px) {
	.megu-sidebar {
		min-width: 180px;
		left: -188px;
	}

	.hangumin {
		right: -148px;
		top: -27px;
		height: 250px;
		width: 162px;
	}

	.sidebar-content {
		max-width: 160px;
		font-size: 12px;
	}
}

@media only screen and (max-width: 360px) {
	.megu-sidebar {
		min-width: 120px;
		left: -128px;
	}

	.hangumin {
		right: -108px;
		top: -21px;
		height: 180px;
		width: 117px;
	}

	.sidebar-content {
		max-width: 100px;
		font-size: 12px;
	}
}