.version-box h2 {
	margin-bottom: 5px;
}

.version-box ul {
	margin: 0;
	padding-left: 20px;
}

#container {
	width: 600px;
	background-color: #F2E6E6;
	position: relative;
}

#header {
	text-decoration: underline;
}

footer {
	bottom: -50px;
}

@media only screen and (max-width: 960px) {
	#container {
		max-width: 500px;
	}
}

@media only screen and (max-width: 720px) {
	#container {
		max-width: 400px;
	}
}

@media only screen and (max-width: 490px) {
	#container {
		max-width: 300px;
	}
}

@media only screen and (max-width: 360px) {
	footer {
		bottom: -70px;
	}

	#container {
		max-width: 200px;
	}
}