.version-box h2 {
	margin-bottom: 5px;
}

.version-box ul {
	margin: 0;
	padding-left: 20px;
}

#container {
	width: 500px;
	height: auto;
	background: #F2E6E6;
	margin: 0 auto;
	padding: 16px;
	box-sizing: border-box;
	position: relative;
	border-radius: 20px;
}

#header {
	text-decoration: underline;
}

footer {
	bottom: -50px;
}
@media only screen and (max-width: 360px) {
	/* Portrait mode */
	footer {
		width: auto;
	}

	#container {
		max-width: 320px;
	}
}

@media only screen and (max-height: 360px) {
	/* Landscape mode */
	#container {
		max-width: 600px;
	}
}