div h2 {
	margin-bottom: 5px;
	text-align: center;
}

div ul {
	margin: 0;
	padding-left: 20px;
}

#container {
	width: 600px;
	background-color: #ffebee;
}

@media only screen and (max-width: 960px) {
	#container {
		width: 500px;
	}
}

@media only screen and (max-width: 720px) {
	#container {
		width: 400px;
	}
}

@media only screen and (max-width: 490px) {
	#container {
		width: 300px;
	}
}

@media only screen and (max-width: 360px) {
	#container {
		width: 200px;
	}
}