html {
    height: 100%;
    width: 100%;
    display: table;
}

body {
    display: table-cell;
    min-height: 100%;
    background: url(/images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    vertical-align: middle;
    overflow: hidden;
}

div#box {
    width: 300px;
    background: rgba(0, 0, 0, 0.5);
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 225px;
    margin-left: auto;
    margin-right: auto;
}

div#counter {
    position: relative;
    text-align: center;
    top: -10px;
    font-size: 50px;
    color: #dd0000;
    margin: auto;
}

button#button {
    font-size: 70px;
    background: #dd0000;
    color: #ff8080;
    border-radius: 20px;
    width: 100%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.6);
}

button#button:focus {
	outline:0;
}

button#button:hover {
    background: #ff3338;
}

a#version {
    color: #dd0000;
    font-family: cursive;
    vertical-align: baseline;
    margin-top: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 18%;
    font-family: 'Courgette', cursive;
    margin-left: 10px;
    color: azure;
}

a#credits {
    color: azure;
}

span.share-buttons-frame {
    position: absolute;
    margin-left: 120px;
    margin-top: 6px;
}

div#navbar-slide {
    position: fixed;
    top: 40px;
    left: -340px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

div#navbar-slide-inner {
    position: fixed;
    top: 40px;
    left: -350px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

div#navbar-slide:hover {
    left: 0px;
}

div#navbar-slide:hover.navbarPc div#navbar-slide-inner.navbarPc {
    top: 58px;
    left: 15px;
    font-family: 'Courgette', cursive;
	font-size: 15px;
}

h2#megsquad {
    text-decoration: underline;
	font-size: 25px;
}

div#counter {
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);	
}

a#soundboard {
	color: #dd0000;
    font-family: cursive;
    vertical-align: baseline;
	margin-left: 35px;
}

@media only screen and (max-width: 481px) {
    /* Portrait mode*/
    body {
        overflow: scroll;
    }

    div#box {
        width: 85%;
        margin-top: 150px;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    div#navbar-slide {
        top: -95px;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    div#navbar-slide:hover {
        left: -114px;
    }
    div#navbar-slide-inner.navbarPc {
        top: 20px !important;
    }
    footer {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        width: 100%;
    }
    span.share-buttons-frame {
        position: absolute;
        margin-left: 23px;
        margin-top: 100px;
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
    }
    span.share-buttons {
        margin-left: 10px;   
    }
    a#version.mobile-scale {
        display: inline-block;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);   
    }
}

@media only screen and (max-height: 481px) {
    /* Landscape mode */
    body {
        overflow: scroll;
    }
    
    div#box {
        width: 50%;
         margin-top: 80px;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    div#navbar-slide {
        top: -95px;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    footer {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        width: 100%;
        text-align: center;
    }
    div#navbar-slide:hover {
        left: -114px;
    }
    div#navbar-slide-inner.navbarPc {
        top: 20px !important;
    }
    span.share-buttons-frame {
        position: absolute;
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        margin-left: 23px;
        margin-top: 120px;
    }
    span.share-buttons {
        margin-left: 10px;   
    }
    a#version.mobile-scale {
        display: inline-block;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}